<form>
  <label for="sort_select">Sort by:</label>
  <select id="sort_select" ng-model="$ctrl.sort">
    <option value="">None</option>
    <option value="first_name">First name</option>
    <option value="last_name">Last name</option>
    <option value="position">Position</option>
  </select>
</form>
<div class="row" ng-repeat="user in $resolve.users | orderBy : ['-star',$ctrl.sort] ">
  <div class="col-sm-3">
    <img ng-src="{{ user.avatar }}" alt="{{ user.first_name }} {{ user.last_name }} avatar"/>
  </div>
  <div class="col-sm-7">
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <p>{{ user.position }}</p>
    <p>
      {{ user.phone | phone }}
      <br>
      {{ user.email }}
    </p>
    <p>
      {{ user.address.street }}
      <br>
      {{ user.address.city }} {{ user.address.country }}
    </p>
  </div>
  <div class="col-sm-2 glyphicon">
    <a ng-click="star(user)" href="#"><span
      ng-class="user.star ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"
      aria-hidden="true"></span></a>
    <a ng-click="remove(user)" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
  </div>
</div>
