<div class="container" ng-repeat="user in users">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{ user.first_name}}</h1>
    </div>
    <div class="col-lg-8">
      <user data="{{ user }}"></user>
    </div>
  </div>
</div>
